body {
    background-color: tan;
}

.a{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


.blue {
    background-color: blue
}
@media screen and (min-width: 600px) {
    
.a{
    display: flex;
    justify-content: space-evenly;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
    
.button {
    display:flex;
    justify-content: center;
    
}
}
